{% extends 'base.html' %}
{% block style %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
    }

    nav a:hover {
        color: #ffd700;
    }

    .container {
        flex: 1;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        margin: 20px;
        overflow: hidden;
    }

    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 15px;
        width: 100%;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    }

    footer a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    .container ul {
        text-align: left; /* Добавлен стиль для прижатия текста списка к левому краю */
    }

    html {
        line-height: 1.5;
        font-family: Georgia, serif;
        font-size: 20px;
        color: #1a1a1a;
        background-color: #fdfdfd;
    }

    table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
        overflow-x: auto;
        display: block;
        font-variant-numeric: lining-nums tabular-nums;
    }

    table caption {
        margin-bottom: 0.75em;
    }

    tbody {
        margin-top: 0.5em;
        border-top: 1px solid #1a1a1a;
        border-bottom: 1px solid #1a1a1a;
    }

    th {
        border-top: 1px solid #1a1a1a;
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    td {
        padding: 0.125em 0.5em 0.25em 0.5em;
    }
</style>
{% endblock %}
{% block title %}
Hypothesis
{% endblock %}

{% block body %}
<div class="container">
    <h1>My Hypothesis</h1>
    <p>Regarding this hypothesis, I believe that the price of a car depends on several factors:</p>

    <ul>
        <li>When it comes to vehicle pricing, brand luxury stands for 10%, with fuel type and transmission sharing a
            similar percentage, taking another 10%.
        </li>
        <li>Power plays a great role, accounting for 20%, and more significantly 30% is related to mileage.</li>
        <li>The remaining 30% is distributed among various other parameters.</li>
    </ul>

    <p>My idea involves restructuring our data set. I plan to introduce a new column that contains types of fuel,
        represented digitally. Additionally, I aim to rearrange car brands into three types based on their luxury
        status, taking into account car prices and horsepower. To uncover the truth I intend to explore the
        correlations.</p>
    <div>
        <style scoped>
            .dataframe tbody tr th:only-of-type {
                vertical-align: middle;
            }

            .dataframe tbody tr th {
                vertical-align: top;
            }

            .dataframe thead th {
                text-align: right;
            }
        </style>
        <table border="1" class="dataframe">
            <thead>
            <tr style="text-align: right;">
                <th></th>
                <th>brand</th>
                <th>name</th>
                <th>bodytype</th>
                <th>color</th>
                <th>fueltype</th>
                <th>year</th>
                <th>mileage</th>
                <th>transmission</th>
                <th>power</th>
                <th>price</th>
                <th>power_average</th>
                <th>price_average</th>
                <th>year_average</th>
                <th>branding</th>
                <th>Color</th>
                <th>trms</th>
                <th>fuel</th>
                <th>power_avrg_brand</th>
                <th>price_avrg_brand</th>
                <th>luxury</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>0</th>
                <td>BMW</td>
                <td>5-Series</td>
                <td>Седан</td>
                <td>Синий</td>
                <td>Бензин</td>
                <td>2011</td>
                <td>176000</td>
                <td>АКПП</td>
                <td>245</td>
                <td>1980000</td>
                <td>206.0</td>
                <td>1883933</td>
                <td>2005.0</td>
                <td>BMW</td>
                <td>blue</td>
                <td>2</td>
                <td>1</td>
                <td>241</td>
                <td>3422132</td>
                <td>5.379294</td>
            </tr>
            <tr>
                <th>1</th>
                <td>BMW</td>
                <td>5-Series</td>
                <td>Седан</td>
                <td>Серый</td>
                <td>Бензин</td>
                <td>2003</td>
                <td>312000</td>
                <td>АКПП</td>
                <td>170</td>
                <td>550000</td>
                <td>206.0</td>
                <td>1883933</td>
                <td>2005.0</td>
                <td>BMW</td>
                <td>blue</td>
                <td>2</td>
                <td>1</td>
                <td>241</td>
                <td>3422132</td>
                <td>5.379294</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Opel</td>
                <td>Astra</td>
                <td>Хэтчбек 5 дв.</td>
                <td>Черный</td>
                <td>Бензин</td>
                <td>2008</td>
                <td>153000</td>
                <td>АКПП</td>
                <td>115</td>
                <td>700000</td>
                <td>121.0</td>
                <td>570028</td>
                <td>2008.0</td>
                <td>Other</td>
                <td>gray</td>
                <td>2</td>
                <td>1</td>
                <td>127</td>
                <td>632471</td>
                <td>1.519585</td>
            </tr>
            <tr>
                <th>3</th>
                <td>BMW</td>
                <td>7-Series</td>
                <td>Седан</td>
                <td>Черный</td>
                <td>Бензин</td>
                <td>2006</td>
                <td>215000</td>
                <td>АКПП</td>
                <td>306</td>
                <td>605000</td>
                <td>319.0</td>
                <td>3245854</td>
                <td>2006.0</td>
                <td>BMW</td>
                <td>blue</td>
                <td>2</td>
                <td>1</td>
                <td>241</td>
                <td>3422132</td>
                <td>5.379294</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Opel</td>
                <td>Omega</td>
                <td>Седан</td>
                <td>Белый</td>
                <td>Дизель</td>
                <td>1994</td>
                <td>372000</td>
                <td>Автомат</td>
                <td>150</td>
                <td>258000</td>
                <td>138.0</td>
                <td>178290</td>
                <td>1994.0</td>
                <td>Other</td>
                <td>gray</td>
                <td>2</td>
                <td>2</td>
                <td>127</td>
                <td>632471</td>
                <td>1.519585</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><strong>Returning to my hypothesis, let's analyze its key aspects:</strong></p>

    <ul>
        <li>The dependence of price on fuel and transmission close to each other, sharing a proportional percentage.
        </li>
        <li>Interestingly, this percentage weighs almost like the ratio given to the luxury factor in the pricing
            dependence equation.
        </li>
        <li>On the other hand, the power of a given vehicle is expected to have twice the impact on its price compared
            to the combined effects of fuel and transmission.
        </li>
        <li>Significantly, and according to my assumption, the main factor affecting price is the mileage, which waits
            three times more than luxury.
        </li>
    </ul>

    <p>Let's delve into correlations to find the truth.</p>
    <img src="static/12.png"/>
    <p><strong>In my opinion, only correlations with 0.5 and bigger can be caused by some real connections, but other
        correlations are just coincidences.</strong></p>

    <ul>
        <li><strong>Price vs. Luxury (0.509580):</strong> There is a positive correlation between price and luxury. This
            suggests that as the price of a car increases, it is likely to be associated with more luxury cars.
        </li>
        <li><strong>Price vs. Fuel Efficiency (0.253799):</strong> There is a positive correlation between price and
            fuel efficiency, although it is relatively weak. This could mean that higher-priced cars tend to have
            slightly better fuel efficiency, but the relationship is not very strong.
        </li>
        <li><strong>Price vs. Transmission (0.289304):</strong> There is a positive correlation between price and
            transmission. This could show that higher-priced cars are more likely to have automatic transmission.
        </li>
        <li><strong>Price vs. Power (0.608761):</strong> There is a strong positive correlation between price and power.
            This suggests that more expensive cars have more engine power.
        </li>
        <li><strong>Price vs. Mileage (-0.267206):</strong> There is a weak negative correlation between price and
            mileage. This implies that as the price of a car increases, it is likely to be associated with lower
            mileage.
        </li>
    </ul>

    <p><strong>The most significant correlations with the price have power (0.6), followed by luxury (0.5), and then
        transmission (0.28). Surprisingly, mileage (-0.26) and the type of fuel (0.25) exhibit comparatively weaker
        relationships with price...</strong></p>

    <p>Contrary to my expectations, the analysis proves that power plays a more crucial role than mileage in influencing
        the price. Furthermore, it is interesting to note that price doesn't significantly depend on mileage.
        Transmission and fuel show similar correlation grades, as we expected. A new discovery for me is the significant
        influence luxury car brands have on the pricing process.</p>

    <p>To summarize my hypothesis testing, it is important to emphasize that these correlations are not absolute (i.e.,
        not close to ±1). But we can still understand that my hypothesis about stronger dependencies between these
        factors turns out to be false. The hypothesized factors have a smaller percentage of the overall correlation
        structure than we originally expected.</p>
</div>
{% endblock %}
